<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="forgot_password" http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Streaming Platform</title>
</head>
<body>
    <div>
        <h1>Reset password</h1>
        <p>We will be sending a reset password link to your email.</p>
    </div>
    <div>
        <form method="post">
            <p>
                <label for="email">
                    <input type="text" id="email" placeholder="Email" name="email" required autofocus>
                </label>
            </p>
            <button type="submit">Reset</button>
        </form>
    </div>
    <div>
        <span>
            <a th:href="@{/signup}">Sign up</a>
        </span>
        <span>
            <a th:href="@{/login}">Back to login</a>
        </span>
    </div>
</body>
</html>
