<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Streaming Platform</title>
    <link rel="stylesheet" th:href="@{/styles/registrationStyles.css}" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1/0">
</head>
<body>
    <div class="container">
        <div>
            <h1 class="title">Reset password</h1>
            <p>We will be sending a reset password link to your email.</p>
        </div>
        <form method="post">
            <div class="user-details">
                <div class="input-box">
                    <label for="email">
                        <input type="text" id="email" placeholder="Email" name="email" required autofocus>
                    </label>
                </div>
                <div class="button">
                    <input type="submit" value="Reset"/>
                </div>
                <div class="bottomText">
                    <p><a th:href="@{/signup}">Sign up</a> or <a th:href="@{/login}">back to login</a></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
