<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/styles/registrationStyles.css}" href="#">
    <link th:href="@{/styles/login.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <script th:src="@{/js/login.js}" async></script>
    <div th:replace="fragments/captcha.html :: head"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1/0">
</head>
<body>
<div class="container">
    <div>
        <h2 th:text="#{user.login}" class="title">Log In</h2>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="message">
            <div th:if="${param.error}">
                <p class="text-danger">Invalid username, email or password</p>
            </div>
        </div>
        <div class="user-details">
            <div class="input-box">
                <label for="username">
                    <input type="text" id="username" placeholder="Your username or email " name="username"
                           required autofocus>
                </label>
            </div>
            <div class="input-box">
                <label for="password">
                    <input type="password" id="password" placeholder="Your password" name="password" required>
                </label>
                <button type="button" toggle="#password" class="toggle-password-btn">
                    <span class="material-icons-outlined md-dark eye">
                        visibility
                    </span>
                </button>
            </div>
            <div th:replace="fragments/captcha.html :: captcha"></div>
            <div class="button">
                <input type="submit" value="Login"/>
            </div>
            <div class="bottomText">
                <span>
                    <p><a th:href="@{/signup}">Sign up</a> or
                        <a th:href="@{/forgot_password}">forgot your password?</a></p>
                </span>
            </div>
        </div>
    </form>
</div>
</body>
