<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="reset_password" http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Streaming Platform</title>
</head>
<body>
    <div>
        <h2>Reset Your Password</h2>
    </div>
    <form th:action="@{/reset_password}" method="post">
    <input type="hidden" name="token" th:value="${token}" />

        <div>
            <label for="password">
                    <input type="password" name="password" id="password" class="form-control"
                           placeholder="Enter your new password" required autofocus />
            </label>
            <label>
                <input type="password" class="form-control" placeholder="Confirm your new password"
                       required oninput="checkPasswordMatch(this);" />
            </label>
            <p class="text-center">
                <input type="submit" value="Change Password" class="btn btn-primary" />
            </p>
        </div>
    </form>
</body>
</html>
