<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Streaming Platform</title>
    <link rel="stylesheet" th:href="@{/styles/registrationStyles.css}" href="#">
    <meta name="viewport" content="width=device-width, initial-scale=1/0">
</head>
<body>
    <div class="container">
        <h2 class="title">Reset Your Password</h2>
        <form th:action="@{/reset_password}" method="post">
            <input type="hidden" name="token" th:value="${token}"/>
            <div class="user-details">
                <div class="input-box">
                    <label for="password">
                        <input type="password" name="password" id="password" class="form-control"
                               placeholder="Enter your new password" required autofocus/>
                    </label>
                </div>
                <div class="input-box">
                    <label>
                        <input type="password" class="form-control" placeholder="Confirm your new password"
                               required oninput="checkPasswordMatch(this);"/>
                    </label>
                </div>
                <div class="button">
                    <input type="submit" value="Change Password"/>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
