<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${video.getTitle()}"></title>
    <link rel="stylesheet" th:href="@{/styles/video.css}" href="#">
</head>
<body>
    <div class="room">
        <div>
            <p><video class="video" id="video" autoplay controls>Відео не знайдено</video></p>
        </div>
        <div class="title">
            <h2 th:text="${video.getTitle()}"></h2>
        </div>
        <div class="details">
            <span id="detailsInfo" th:text="${video.getViewsCount()}+' views'+' • '+'Published: '+${video.getDateOfPublic()}"></span>
        </div>
        <hr>
        <div class="creator_info">
            <p th:text="'Creator: '+${video.getCreator().getLogin()}"></p>
        </div>
        <div class="description">
            <span id="description" th:text="${video.getDescription()}"></span>
            <span id="dots">...</span>
            <span id="more_description"></span>
            <p></p>
            <button id="description_btn" onclick="showDescription()">Show more</button>
            <p></p>
        </div>
        <hr>
        <div class="create_comment_area">
            <div class="comment_title">
                <p>Comments</p>
                <p class="comment_details" sec:authorize="isAnonymous()">Authorize to write comments</p>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div>
                    <textarea class="comment_area" id="comment_text" th:name="${currUser.getLogin()}" placeholder="Enter you comment" wrap="soft"></textarea>
                </div>
                <div>
                    <button class="comment_btn" onclick="addComment()">Send</button>
                </div>
            </div>
        </div>
        <div class="comment_table" id="comment_table">
            <div class="comment" th:each="comment: ${comments}">
                <div class="comment_info">
                    <span th:text="${comment.getCreator().getLogin()}+' • '"></span>
                    <span th:text="${comment.getDateOfPublic()}"></span>
                </div>
                <div class="comment_text">
                    <p th:text="${comment.getText()}"></p>
                </div>
            </div>
        </div>
    </div>
    <p></p>
</body>
<script type="text/javascript" th:src="@{/js/video.js}"></script>
</html>
