html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --color-primary: #000000;
  --color-secondary: #ffffff;
  --color-accent-primary: #303030;
  --color-accent-secondary: #f5f5f5;
  --color-highlight: #606060;
  --bg-color-primary: #ffffff;
  --bg-color-secondary: #f5f5f5;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color-primary);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

.container {
  flex: 1;
  margin: 1rem 2rem;
}

.section-header {
  font-size: 1.5rem;
  font-weight: 700;
}

.videos-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.videos {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  padding: 0;
  margin: 1rem 0;
}

.videos li:nth-of-type(1n+11) {
  display: none;
}

.videos img {
  width: 100%;
  vertical-align: top;
}

@media only screen and (min-width:1200px) and (max-width:1680px) {
  .videos {
    grid-template-columns: repeat(4, 1fr);
  }

  .videos li:nth-of-type(1n+9) {
    display: none;
  }
}

@media only screen and (min-width:768px) and (max-width:1200px) {
  .videos {
    grid-template-columns: repeat(3, 1fr);
  }

  .videos li:nth-of-type(1n+7) {
    display: none;
  }
}

@media only screen and (min-width:480px) and (max-width:768px) {
  .videos {
    grid-template-columns: repeat(2, 1fr);
  }

  .videos li:nth-of-type(1n+5) {
    display: none;
  }

}

@media only screen and (max-width:480px) {
  .videos {
    grid-template-columns: repeat(1, 1fr);
  }

  .videos li:nth-of-type(1n+3) {
    display: none;
  }
}
